@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');
:root {
    --success: rgb(0, 128, 0);
    --warning: rgb(203, 181, 16);
    --error: rgb(244, 16, 16);
    --success-light: rgba(0, 128, 0, 0.4);
    --warning-light: rgba(203, 181, 16, 0.4);
    --error-light: rgba(244, 16, 16, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ecf0f1;
}

.control button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 28px;
    color: white;
    margin: 0 10px;
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.error {
    background: var(--error);
}

#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toast {
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 26px;
    overflow: hidden;
    animation: slideShow 2s ease forwards;
    /* forwards : ;uoon chayj trang thai cuoi cung */
}

.toast i {
    margin: 0 10px;
}

.toast .countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 4s ease;
}

.toast.success {
    border-left: 6px solid var(--success);
    background: var(--success-light);
}

.toast.warning {
    border-left: 6px solid var(--warning);
    background: var(--warning-light);
}

.toast.error {
    border-left: 6px solid var(--error);
    background: var(--error-light);
}

.toast.success .countdown {
    background: var(--success);
}

.toast.warning .countdown {
    background: var(--warning);
}

.toast.error .countdown {
    background: var(--error);
}

@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes slideShow {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes slideHide {
    0% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(200%);
    }
}